
<div>
	<h1 class="display-4">Sudoku</h1>
	<p>Sudoku puzzles are easy to understand and the basic rules are simple to learn  <a href="https://en.wikipedia.org/wiki/Sudoku">Check out Sudoku at wikipedia</a>.</p>
	<p>This site support creation of sudoku puzzles as well as solving puzzles.</p>
	<p>Here follow a few tips using logic toward solving puzzles</p>
	<img src="~/img/SudokuStrategi1.png" width="300" height="300" />
	<img src="~/img/SudokuStrategi2.png" width="300" height="300" />
</div>
